@charset "UTF-8";
html {
  font-size: 62.5%;
}
body {
  color: #000;
  font-size: 1.5rem;
  font-size: 15px;
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体";
}
*, *::before, *::after {
  box-sizing: border-box;
}
a, a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: #003923;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
h2 {
  font-family: 'TsukuARdGothic-Regular';
}
h3 {
  color: #003923;
  font-weight: bold;
}
.caveat {
  color: #0e7c56;
  font-family: 'Caveat', cursive;
}
ul li {
  list-style-type: none;
}
.bold {
  font-weight: bold;
}
.font-regular {
  font-weight: normal;
}
.fa-phone {
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
/* pc */
@media screen and (min-width:769px){
.pc {
    display: block !important;
  }
.sp {
    display: none !important;
  }
h3 {
  font-size: 2.4rem;
  font-size: 24px;
}
.caveat {
  font-size: 1.8rem;
  font-size: 18px;
  line-height: 20px;
}
header {
  height: 80px;
  background: #fff;
  padding: 0 20px;
}
.header-wrap {
  width: 1000px;
  margin: 0 auto;
}
.header-logo {
  float: left;
  padding: 17px 0;
}
/* グロナビ */
.global-nav {
  float: right;
}
.global-nav ul {
  font-size: 0;
}
.global-nav ul li {
  font-size: 1.3rem;
  font-size: 13px;
  font-weight: bold;
  display: inline-block;
  width: 100px;
  height: 80px;
  padding-top: 25px;
  text-align: center;
}
.global-nav ul li {
  border-left: dashed 1px #00392a;
}
.global-nav ul li .caveat {
  font-size: 1.4rem;
  font-size: 14px;
}
.global-nav ul li::after {
  font-size: 1.4rem;
  font-size: 14px;
  line-height: 20px;
  color: #0e7c56;
  font-family: 'Caveat', cursive;
  display: block;
}
.global-nav ul li:last-child {
  border-right: dashed 1px #000;
}
.global-nav ul li:first-child a {
  margin: -23px -18px -40px;
  padding: 23px 18px 40px;
}
.global-nav ul li:nth-child(2) a {
  margin: -23px -17px -40px;
  padding: 23px 17px 40px;

}
.global-nav ul li:nth-child(3) a {
  margin: -23px -18px -40px;
  padding: 23px 18px 40px;

}
.global-nav ul li:nth-child(4) a {
  margin: -23px -23px -40px;
  padding: 23px 23px 40px;

}
.global-nav ul li:last-child a {
  margin: -23px -23px  -40px;
  padding: 23px 23px 40px;
}
.global-nav ul li a:hover {
  opacity: 0.5;
}



/* メイン */
.main-slider-area {
  height: 561px;
  background: url(../pc_images/pc_main_slider_bg.png) no-repeat;
}
.main-slider-wrap {
  width: 1000px;
  margin: 0 auto;
  padding-left: 60px;
  position: relative;
}
.main-slider-txt {
  position: absolute;
  z-index: 110;
}
h2 {
  padding-top: 100px;
}
h3 {
  letter-spacing: 3px;
}
h3 .font-regular {
  letter-spacing: 0;
}
.main-slider-txt .caveat {
  padding-top: 50px;
}
.slider {
  position: absolute;
  top: 0;
  left: 270px;
}
.slider ul {
  width: 1230px;
  position: relative;
}
.slider ul li {
  width: 1230px;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
/* ごあいさつ */
.greeting-area {
  padding: 0 20px;
}
.greeting-wrap {
  width: 1000px;
  margin: 0 auto;
}
.greeting-item:first-child {
  float: left;
  width: 260px;
  height: 450px;
  padding-top: 58px;
  position: relative;
}
.greeting-item:last-child {
  float: right;
  width: 740px;
  height: 450px;
  padding-top: 58px;
}
.greeting-img {
  padding-top: 30px;
  font-size: 0;
}
.greeting-img li {
  width: 240px;
  height: 150px;
  display: inline-block;
}
.greeting-img li:nth-child(2) {
  margin: 0 10px;
}
.balloon-txt {
  font-size: 1.1rem;
  font-size: 11px;
  line-height: 15px;
  color: #003923;
  text-align: center;
}
.greeting-balloon {
  width: 162px;
  height: 89px;
  background: url(../pc_images/pc_greeting_balloon.png) no-repeat center;
  margin: 0 auto;
  margin-top: 31px;
  padding-top: 17px;
}
.greeting-sutaff {
  position: absolute;
  bottom: 0;
}
.greeting-txt {
  line-height: 27px;
}
/* ユニット畳 */
.unit-area {
  width: 100%;
  height: 890px;
  padding: 0 20px;
  padding-top: 60px;
  background: url(../pc_images/pc_cnts_bg.png) no-repeat;
}
.unit-wrap {
  width: 1000px;
  margin: 0 auto;
}
.unit-item {
  width: 500px;
  padding-right: 31px;
  float: left;
}
.unit-img {
  width: 470px;
  height: 220px;
  margin-top: 31px;
  position: relative;
}
.unit-img-color {
  position: absolute;
  top: -22px;
  right: 0;
}
.unit-img-txt {
  font-size: 1.1rem;
  font-size: 11px;
  width: 172px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 10px;
  color: #fff;
  background: #599c60;
  position: absolute;
  top: 35px;
  right: 0;
}
.unit-txt {
  margin-top: 16px;
  line-height: 27px;
}
.unit-link {
  font-size: 1.4rem;
  font-size: 14px;
  display: block;
  width: 240px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin: 0 auto;
  margin-top: 31px;
  background: #0e7c56;
}
.unit-link:link, .unit-link:visited, .unit-link:hover, .unit-link:active {
  color: #fff;
}
.unit-link:hover {
  opacity: 0.8;
}
.fa-angle-right {
  font-size: 1.6rem;
  font-size: 16px;
  padding-right: 8px;
}
/* フェイスブック */
.facebook-item {
  width: 500px;
  padding-left: 31px;
  float: right;
  position: relative;
}
.facebook-ballon {
  width: 121px;
  height: 119px;
  background: url(../pc_images/pc_facebook_balloon.png) no-repeat center;
  padding-top: 34px;
  position: absolute;
  right: 0;
  margin-top: -125px;
}
.facebook-area {
  margin-top: 30px;
  width: 470px;
  height: 691px;
}
/* 住所、お問合せ */
.address-area {
  padding: 0 20px;
  clear: both;
}
.address-wrap {
  width: 1000px;
  padding: 39px 0;
  margin: 0 auto;
}
.address-wrap h3 {
  padding-right: 30px;
  margin-right: 30px;
  border-right: solid 1px #000;
  float: left;
}
.address-item {
  width: 500px;
  float: left;
}
.address-cnts {
  width: 300px;
  margin: 0 auto;
}
.address-txt {
  line-height: 27px;
  float: left;
}
.contact-item {
  width: 500px;
  float: right;
}
.contact-cnts {
  width: 300px;
  margin: 0 auto;
}
.contact-txt {
  line-height: 27px;
  float: left;
}
.fa-phone {
  margin-right: 6px;
}
.fa-fax {
  margin-right: 6px;
}

/* 地図 */
.map-area {
  width: 100%;
  padding: 0 20px;
  background: #eff5ef;
}
.map-wrap {
  width: 1000px;
  height: 406px;
  margin: 0 auto;
  position: relative;
}
.map {
  width: 1000px;
  position: relative;
}
.adachi-txt {
  width: 90px;
  height: 59px;
  line-height: 17px;
  padding-top: 12px;
  text-align: center;
  background: url(../pc_images/pc_map_adachi_balloon.png) no-repeat;
  color: #fff;
  position: absolute;
  top: 57px;
  right: 299px;
}
.adachi-icon {
  position: absolute;
  top: 111px;
  right: 391px;
}
.map-ballon {
  font-size: 2rem;
  font-size: 20px;
  line-height: 16px;
  width: 94px;
  height: 68px;
  padding-top: 16px;
  text-align: center;
  background: url(../pc_images/pc_accessmap_balloon.png) no-repeat center;
  position: absolute;
  bottom: 14px;
  left: 0;
  color: #fff;
}
.map-car {
  font-size: 0;
  position: absolute;
  bottom: 0;
  left: 94px;
}
/* ページトップ */
.page-top {
  position: fixed;
  bottom: 40px;
  right: 20px;
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: solid 1px #003923;
}
/* フッター */
footer {
  padding: 0 20px;
  background: #003923;
  color: #fff;
  text-align: center;
}
.footer-copyright {
  font-size: 1.1rem;
  font-size: 11px;
  padding: 9px 0;
}

}
/* sp */
@media screen and (max-width:768px) {
.pc {
      display: none !important;
}
.sp {
      display: block !important;
}
body {
  font-size: 1.3rem;
  font-size: 13px;
}
h3 {
  letter-spacing: 3px;
}
h3 .font-regular {
  letter-spacing: 0;
  line-height: 36px;
}
/* ヘッダー */
header {
  background: #fff;
}
.header-wrap {
  width: 100%;
  padding-top: 15px;
  text-align: center;
}
/* ロゴ */
.header-logo {
  display: block;
  width: 187px;
  height: 41px;
  margin: 0 auto;
  padding: 0 15px;
}
/* グロナビ */
.global-nav {
  font-size: 1.2rem;
  font-size: 12px;
  color:  #003923;
  margin-top: 15px;
}
.angle-right {
  position: relative;
  display: inline-block;
}
.angle-right:before {
  content: ' ';
  width: 6px;
  height: 6px;
  border-top: solid 1.2px #003923;
  border-right: solid 1.2px #003923;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 3px;
  left: -13px;

}
.global-nav ul li {
  width: 50%;
  padding: 19px 0;
  background: #f5f5f5;
}
.global-nav ul li a {
  display: block;
  margin: -20px 0;
  padding: 20px 0;
}
.global-nav ul li a:hover {
  opacity: 0.8;
}
.global-nav ul li:first-child {
  border-top: dashed 1px #003923;
  border-bottom: dashed 1px #003923;
  border-right: dashed 1px #003923;
}
.global-nav ul li:nth-child(2) {
  border-top: dashed 1px #003923;
  border-bottom: dashed 1px #003923;
}
.global-nav ul li:nth-child(3) {
  border-bottom: dashed 1px #003923;
  border-right: dashed 1px #003923;
}
.global-nav ul li:nth-child(4) {
  border-bottom: dashed 1px #003923;
}
.global-nav ul li:nth-child(odd) {
  float: left;
}
.global-nav ul li:nth-child(even) {
  float: right;
}

/* スライダー */
.main-slider-area {
  width: 100%;
  height: auto;
  background: url(../sp_images/sp_main_slider_bg.png);
}
.main-slider-txt {
  width: 300px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 19px;
}
h2 {
  font-size: 3.4rem;
  font-size: 34px;
  line-height: 47px;
  color: #003923;
}
.sab {
  font-size: 2.2rem;
  font-size: 22px;
  line-height: 13px;
  padding-top: 20px;
  color: #0e7c56;
}
.slider {
  height: 171px;
  overflow: hidden;
}
.slider ul {
  max-width: 768px;
  position: relative;
}
.slider ul li {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.slider ul li img {
  min-height: 171px;
  width: 100%;
  height: auto;
  object-fit: cover;
}

h3 {
  font-size: 2.2rem;
  font-size: 22px;
  text-align: center;
  z-index: 50;
}
.caveat {
  font-size: 1.6rem;
  font-size: 16px;
}
.balloon-txt {
  padding: 0 15px;
  font-size: 1rem;
  font-size: 10px;
  line-height: 13px;
  color: #003923;
}
/* ごあいさつ */
.greeting-area {
  width: 100%;
  padding: 0 15px;
}
.greeting-wrap {
  padding-top: 61px;
}
.greeting-balloon {
  text-align: center;
  width: 146px;
  height: 80px;
  padding-top: 15px;
  margin: 0 auto;
  margin-top: 30px;
  background: url(../sp_images/sp_greeting_balloon.png) no-repeat;
}
.greeting-sutaff {
  width: 217px;
  height: auto;
  margin: 0 auto;
}
.greeting-txt {
  margin-top: 30px;
  line-height: 24px;
}
.greeting-img {
  margin-bottom: 60px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.greeting-img li {
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
}
.greeting-img li:nth-child(2) {
  margin: 0 1.4%;
}
.greeting-img li img {
  width: 98.6%;
  height: auto;
  object-fit: contain;

}
/* ユニット畳 */
.unit-area {
  width: 100%;
  background: url(../pc_images/pc_cnts_bg.png);
}
.unit-wrap {
  padding: 0 15px;
}
.unit-item {
  padding-top: 60px;
  padding-bottom: 55px;
}
.unit-img {
  margin-top: 47px;
  position: relative;
}
.tatami-main {
  width: 100%;
  min-width: 290px;
  height: auto;
  object-fit: cover;
}
.unit-img-color {
  position: absolute;
  top: -15px;
  right: 0;
}
.unit-img-txt {
  width: 165px;
  height: 17px;
  line-height: 17px;
  border-radius: 5px;
  font-size: 0.8rem;
  font-size: 8px;
  color: #fff;
  text-align: center;
  background: #599c60;
  position: absolute;
  top: 40px;
  right: 0;
}
.unit-txt {
  margin-top: 20px;
  margin-bottom: 31px;
  line-height: 24px;
}
.unit-link {
  display: block;
  font-size: 1.3rem;
  font-size: 13px;
  width: 216px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  color: #fff;
  background: #0e7c56;
  margin: 0 auto;
}
.unit-link:link, .unit-link:visited, .unit-link:hover, .unit-link:active {
  color: #fff;
}
.unit-link:hover {
  opacity: 0.8;
}
.fa-angle-right {
  font-size: 1.4rem;
  font-size: 14px;
  padding-right: 8px;
}
/* フェイスブック */
.facebook-item {
  padding-top: 62px;
  padding-bottom: 60px;
}
.relative {
  max-width: 320px;
  margin: 0 auto;
  position: relative;
}
.facebook-item .relative {
  height: 44px;
}
.facebook-title {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 2;
}
.facebook-ballon {
  width: 109px;
  height: 107px;
  padding-top: 30px;
  text-align: center;
  background: url(../sp_images/sp_facebook_balloon.png) no-repeat;
  position: absolute;
  top: -62px;
  right: -10px;
  z-index: 1;
}
.facebook-area {
  width: 290px;
  margin: 0 auto;
  margin-top: 30px;
}
/* 住所 */
.address-area {
  width: 100%;
}
.address-item {
  padding: 30px 0;
  border-top: dashed 1px #003326;
  border-bottom: dashed 1px #003326;
}
.address-cnts {
  padding: 0 15px;
  text-align: center;
}
.address-wrap .caveat {
  margin-left: 10px;
}
.address-txt {
  padding-top: 20px;
}
/* お問合せ */
.contact-item {
  padding: 30px 0;
  border-bottom: dashed 1px #003326;
}
.contact-cnts {
  text-align: center;
  padding: 0 15px;
}
.contact-txt {
  width: 300px;
  padding-top: 20px;
  margin: 0 auto;
}
.contact-txt li {
  width: 120px;
  float: left;
}
.contact-txt li a {
  display: block;
}
.contact-txt li {
  margin-right: 30px;
}
.contact-txt li i {
  margin-right: 6px;
}
.contact-txt li a:link, .contact-txt li a:visited, .contact-txt li a:hover, .contact-txt li a:active {
  color: #000;
}
.contact-txt li a:hover {
  opacity: 0.8;
}
/* 地図 */
.map-img {
  width: 100%;
  min-width: 290px;
  height: auto;
  object-fit: cover;
}
.map-wrap {
  padding: 0 15px;
  position: relative;
}
.access-map {
  display: block;
  font-size: 1.3rem;
  font-size: 13px;
  width: 216px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  margin: 0 auto;
  margin-top: 19px;
  margin-bottom: 60px;
  background: #0e7c56;
}
.access-map:link, .access-map:visited, .access-map:hover, .access-map:active {
  color: #fff;
}
.access-map:hover {
  opacity: 0.8;
}
.map-ballon {
  width: 97px;
  height: 70px;
  font-size: 1.8rem;
  font-size: 18px;
  padding-top: 18px;
  color: #fff;
  text-align: center;
  background: url(../sp_images/sp_accessmap_balloon.png) no-repeat;
  position: absolute;
  bottom: 35px;
  left: -21px;
}
.map-space {
  padding: 0 15px;
}
.fa-search {
  margin-right: 6px;
}
/* ページトップ */
.fixed {
  position: fixed;
  bottom: 0px;
  z-index: 150;
}
.page-top {
  display: block;
  width: 36px;
  height: 36px;
  line-height: 35px;
  text-align: center;
  font-size: 1.3rem;
  font-size: 13px;
  border: solid 1px #003923;
  position: fixed;
  right: 15px;
  bottom: 95px;
}
/* フッター */
footer {
  width: 100%;
  text-align: center;
}
.footer-line {
  padding: 0 20px;
  background: #003923;
  margin-bottom: 49px;
  color: #fff;
}
.footer-copyright {
  font-size: 1rem;
  font-size: 10px;
  padding: 9px 0;
}
footer ul {
  font-size: 0;
}
footer ul li {
  display: inline-block;
  font-size: 0;
  width: 50%;
  height: 50px;
  line-height: 50px;
}
footer ul li i {
  margin-right: 6px;
}
.footer-tell {
  position: fixed;
  bottom: 0px;
  left: 0;
  font-size: 1.3rem;
  font-size: 13px;
  background: #f5f5f5;
  color: #003923;
  border-top: dashed 1px #003326;
  border-bottom: dashed 1px #003326;
  border-right: dashed 1px #003326;
}
.footer-tell a {
  display: block;
}
.footer-tell a:hover {
  opacity: 0.8;
}
.footer-mail {
  position: fixed;
  bottom: 0px;
  right: 0;
  font-size: 1.3rem;
  font-size: 13px;
  color: #fff;
  border-top: solid 1px #003923;
  border-bottom: solid 1px #003923;
  border-left: solid 1px #003923;
  background: #003923;
}
.footer-mail:hover {
  opacity: 0.8;
}

}
